.login_php{
    /*background-color: rgb(1, 153, 255);*/
    background-color: rgb(3, 255, 150);
}
.signup_php{
    /*background-color: rgb(1, 153, 255);*/
    background-color: rgb(235, 45, 45);
}
body {
    margin: auto;
    width: 30%;
  }

  .container1{
    background-color: rgb(219, 215, 215);
    text-align: center;
    width: 20%;
    border: 7px solid rgb(5, 133, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    font-size: 30px;
    font-family: verdana, sans-serif;
  }
  .container2{
    background-color: rgb(219, 215, 215);
    text-align: center;
    width: 20%;
    border: 7px solid rgb(16, 0, 240);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    font-size: 30px;
    font-family: verdana, sans-serif;
  }
  h1{
    font-size: 50px;
  }
  form{
    margin: auto;
  }
  input[type="text"], input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 30px;
  }
  select{
    width: 150px;
    height: 50px;
    background-color: grey;
    font-size: 30px;
  }
  input[type="submit"]{
    width: 300px;
    height: 50px;
    font-size: 30px;
    color:white;
    background-color: rgb(0, 132, 255);
  }
  .sign-up{
    margin-bottom: 0%;
  }